.collection {
  gap: 60px 80px;
  margin-bottom: 64px;
}

.collection .card {
  border-width: 1px;
  min-width: 240px;
  width: 300px;
}

.collection .card:hover {
  border-width: 2px;
}

.collection .card-img-top {
  height: 200px;
  object-fit: cover;
}

.collection .card-title {
  max-height: 70px;
  text-overflow: ellipsis;
}

.collection .card-text {
  max-height: 100px;
  text-overflow: ellipsis;
}
